<!doctype html>
<title>CS project 2024</title>
<link rel=stylesheet type=text/css href="{{ url_for('static' , filename= 'styles.css') }}">
<h1>Welcome to the CS interest board</h1>
<div class ="row">
	<div class="column" style = "width: 33.33%;"> <h3>left</h3> 



	</div>
	<form method="POST">
	<div class="column" style = "width: 33.33%;"> <h3>middle</h3> 

		
    			<textarea name = "textareaa1"></textarea>
			<br>
			<textarea name = "textareab1"></textarea>
		

	</div>
	<div class="column" style = "width: 33.33%;"> <h3>right</h3> 
		
			
    			<textarea name = "textareaa2"></textarea>
			<br>
			<textarea name = "textareab2"></textarea>
			
		



	</div>
	<input type="submit" value="Submit">
	</form>
</div>
  
