<!doctype html>
<html>
<title>CS project 2024</title>
<link rel=stylesheet type=text/css href="{{ url_for('static' , filename= 'styles.css') }}">
<body>
<h1 style="text-align:center;" class = "fancy-color">Welcome to the CS interest board</h1>
<p >Input your interests and the catagories they are in below like, Catagory: "food" ; Interest:"spaghetti", for your favorite food to be entered as spaghetti \n then hit submit and view results</p>
<button onclick="myFunction()">toggle lightmode</button>



<div class ="row">
	<div class= "column" style = "width: 50%;">
		<button class="collapsible">More information</button>
		<div class="content">
			<p>This website will compare your entered interests anonymously with the servers database. Then if you choose data can be recorded to add and you can see messages others have left encrypted just for those with your interest. All data is securely held. \n Input your interests in the boxes below. hit submit to save them. by submitting and reentering you can submit as many interests as you like</p>
		</div>
	</div>
	
	<div class= "column" style = "width: 50%;">
		<button class="collapsible">How to operate</button>
		<div class="content">
			<p>Input each category and interest into the space below, once you have as many entered as you would like hit the submit button. once you do it will clear those space. If you would like you can then enter more or just hit the results button to see the results of your interests. Just put the cataogry of your favorite thing and you interest exactly, there isn't a need to put "favorite icecream" or anything just put "icecream"</p>
		</div>
	</div>

</div>

<br>
<br>

<div class ="row">
	<div class="column" style = "width: 33.33%;"> <h3 class="fancy-color">Interest Number</h3> 
		<h2> 1.</h2>
		<h2> 2.</h2>
		<h2> 3.</h2>
		<h2> 4.</h2>
		<h2> 5.</h2>


	</div>
	<form method="POST">
	<div class="column" style = "width: 33.33%;"> <h3 class = "fancy-color">Category,(no "favorite" necessary) ie "movie"</h3> 

		
    		<textarea name = "textareaa1" placeholder="movie"></textarea>
			<br>
			<textarea name = "textareab1"></textarea>
			<br>
			<textarea name = "textareac1"></textarea>
			<br>
			<textarea name = "textaread1"></textarea>
			<br>
			<textarea name = "textareae1"></textarea>
		

	</div>
	<div class="column" style = "width: 33.33%;"> <h3 class="fancy-color">Interest, ie. "Forest Gump"</h3> 
		
			
    			<textarea name = "textareaa2" placeholder="Forest Gump"></textarea>
			<br>
			<textarea name = "textareab2"></textarea>
			<br>
			<textarea name = "textareac2"></textarea>
			<br>
			<textarea name = "textaread2"></textarea>
			<br>
			<textarea name = "textareae2"></textarea>
			
		



	</div>
	<input type="submit" name = 'submit interests' value="Submit" id = "submitbutton">
	</form>
</div>
  
<br>
<br>
<form method = "POST">
	<input type = "submit" name = "results" value = "view results" id = "results">
</form>
<br>
<br>
<br>
<div style="background-color:rgb(50, 50, 50)">
<h3 >Made by Patrick Longman for Advanced Computing Class</h3>
<h4 >Powered by Patrick Longman and his brain</h4>
<h5 >Intellegence, blood and grit thats it</h5>
<h6 >don't ask who's blood</h6>
</div>

<script> // I kept the javascript to a minimum for many reasons but this was easiest sooo

	var coll = document.getElementsByClassName("collapsible");
	var i;
	//make event listener for each
	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
		
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.maxHeight){
		  content.style.maxHeight = null;
		} else {
			//autosizing but 5 buffer, could make this equal for the two but predefintion probably then needed or whole dynamic system
		  content.style.maxHeight = content.scrollHeight + 5 + "px";
		} 
		
	  });
	}

	var timeout;

	async function getStatus() {

		let get;
		
		//try to get information from json
		try {
			const res = await fetch("/status");
			get = await res.json();
		} catch (e) {
			console.error("Error: ", e);
		}
		
		//element update
		document.getElementById("innerStatus").innerHTML = get.status * 10 + "&percnt;";
		
		//max status
		if (get.status == 10){
			document.getElementById("innerStatus").innerHTML += " MAXIMUM BASIC";
			clearTimeout(timeout);
			return false;
		}
		
		timeout = setTimeout(getStatus, 1000);
	}
	
	let downloadBtn = document.getElementById("submitbutton")
	downloadBtn.addEventListener('click',downloadFile)
	function downloadFile() {
		console.log("downloadFilestarted");
		let xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (xhttp.status === 200 && xhttp.readyState === 4) {
			let blob = new Blob([xhttp.response], { type: "text/plain" });
			let url = window.URL.createObjectURL(blob);
			let link = document.createElement("a");
			link.href = url;
			link.download = "temp.txt";
			link.style.display = "none";
			document.body.appendChild(link);
			link.click();
			window.URL.revokeObjectURL(url);
			document.body.removeChild(link);
			}
		};
		xhttp.open("POST", "/api/admin/download_schedule", true);
		xhttp.responseType = "blob";
		xhttp.send();
	}

	var resultsaudio = new audio("https://www.myinstants.com/instant/crowd-cheering/embed/")
	
	let results = document.getElementById("results button")
	results.addEventListener('click',function() {
		resultsaudio.play();


	});
	var submitaudio = new audio("https://www.myinstants.com/instant/crowd-cheering/embed/")
	let submitter = document.getElementById("submitbutton")
	submitter.addEventListener('click',function() {
		submitaudio.play();


	});

	getStatus();
	function myFunction() {
		var element = document.body;
		element.classList.toggle("light-mode");
		
	}
	
</script>


</body>
</html>