<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Flaskr</h1>
</div>
<img src="pic.png" alt = "pic" width="500" height="600">
<img src="static\pic.png" alt = "pic2" width="500" height="600">
<img src="pic.png" alt = "pic3" width="500" height="600">
<br>
<br>
<br>
<br>
<br>
<div style="background: url('static\\pic.png');width:500px; height:500px;">
  
  <img src="static\pic.png" style="position:relative; top:200px; left:200px; width:30; height:30px;">
</div>